/* Estilos para a bolinha do cursor */
.cursor_{
   
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    transition: transform 0.2s ease, background-color 0.3s ease; /* Adiciona transição para a cor */
}

@media (max-width:480px) {
    .cursor_{
        display: none;
    }
}